# Secret API Keys and Passwords
api_key.txt

# Python Virtual Environment
.venv/
venv/
ENV/

# IDE Settings
.idea/
.vscode/

# Tableau Temporary / Backup files
~*
*.twbr

# OS temporary files
.DS_Store
Thumbs.db

__pycache__/
*.pyc
